@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Curso_Perfil</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="~/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet" />
    <link href="~/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
    <link href="~/data/styles.css" type="text/css" rel="stylesheet" />
    <link href="~/files/curso_perfil/styles.css" type="text/css" rel="stylesheet" />
    <script src="~/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="~/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="~/resources/scripts/axure/axQuery.js"></script>
    <script src="~/resources/scripts/axure/globals.js"></script>
    <script src="~/resources/scripts/axutils.js"></script>
    <script src="~/resources/scripts/axure/annotation.js"></script>
    <script src="~/resources/scripts/axure/axQuery.std.js"></script>
    <script src="~/resources/scripts/axure/doc.js"></script>
    <script src="~/data/document.js"></script>
    <script src="~/resources/scripts/messagecenter.js"></script>
    <script src="~/resources/scripts/axure/events.js"></script>
    <script src="~/resources/scripts/axure/action.js"></script>
    <script src="~/resources/scripts/axure/expr.js"></script>
    <script src="~/resources/scripts/axure/geometry.js"></script>
    <script src="~/resources/scripts/axure/flyout.js"></script>
    <script src="~/resources/scripts/axure/ie.js"></script>
    <script src="~/resources/scripts/axure/model.js"></script>
    <script src="~/resources/scripts/axure/repeater.js"></script>
    <script src="~/resources/scripts/axure/sto.js"></script>
    <script src="~/resources/scripts/axure/utils.temp.js"></script>
    <script src="~/resources/scripts/axure/variables.js"></script>
    <script src="~/resources/scripts/axure/drag.js"></script>
    <script src="~/resources/scripts/axure/move.js"></script>
    <script src="~/resources/scripts/axure/visibility.js"></script>
    <script src="~/resources/scripts/axure/style.js"></script>
    <script src="~/resources/scripts/axure/adaptive.js"></script>
    <script src="~/resources/scripts/axure/tree.js"></script>
    <script src="~/resources/scripts/axure/init.temp.js"></script>
    <script src="~/files/curso_perfil/data.js"></script>
    <script src="~/resources/scripts/axure/legacy.js"></script>
    <script src="~/resources/scripts/axure/viewer.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () { return '~/resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function () { return '~/resources/Other.html'; };
        $axure.utils.getReloadPath = function () { return '~/resources/reload.html'; };
    </script>
</head>
<body>
    <div id="base" class="">

        <!-- Unnamed (Shape) -->
        <div id="u0" class="ax_shape">
            <img id="u0_img" class="img " src="~/images/curso_perfil/u0.png" />
            <!-- Unnamed () -->
            <div id="u1" class="text">
                <p><span></span></p>
            </div>
        </div>

        

        <!-- Unnamed (Image) -->
        <div id="u4" class="ax_image">
            <img id="u4_img" class="img " src="~/images/curso_perfil/u4.jpg" />
            <!-- Unnamed () -->
            <div id="u5" class="text">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6" class="ax_paragraph">
            <img id="u6_img" class="img " src="~/resources/images/transparent.gif" />
            <!-- Unnamed () -->
            <div id="u7" class="text">
                <p><span>Curso Completo de Japonés - Nivel Básico</span></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8" class="ax_paragraph">
            <img id="u8_img" class="img " src="~/resources/images/transparent.gif" />
            <!-- Unnamed () -->
            <div id="u9" class="text">
                <p><span>Aprender japonés puede ser enriquecedor tanto a nivel personal como a nivel profesional. En un momento, en el que las empresas miran con lupa los avances tecnológicos de la industria japonesa, aprender la lengua del país del Sol Naciente, puede aumentar tus competencias profesionales.</span></p><p><span>&nbsp;</span></p><p><span>Mediante este curso presencial que se realiza en Zaragoza y su metodología de estudio totalmente flexible a nivel temporal, aprenderás japonés rápidamente seleccionando el nivel que necesitas. Podrás escoger entre niveles básicos, intermedios o avanzados, ya sea para empezar de cero o mejorar tus conocimientos. La duración del curso consta de 40 horas lectivas en las que podrás aprender todos los conocimientos gracias a los completos materiales didácticos que el centro te enviará. Si eres trabajador en activo y realizas esta formación a través de tu empresa puedes beneficiarte de un coste cero, ya que esta acción formativa está subvencionada por la Fundación Tripartita.</span></p><p><span>&nbsp;</span></p><p><span>Aprenderás la gramática japonesa basada en ideogramas, su léxico y sintaxis, para que puedas hablar, escribir y entender el japonés perfectamente. Además te adentrarás en la historia de este país, conociendo su cultura y costumbres, para así poder entender su tradición contrastada con su evolución social e industrial. Si necesitas cualquier información adicional o estás interesado en matricularte en esta formación, pulsa el botón y emagister.com te pondrá en contacto con el centro de estudios.</span></p>
            </div>
        </div>

        

        <!-- Unnamed (Shape) -->
        <div id="u15" class="ax_shape">
            <img id="u15_img" class="img " src="~/images/curso_perfil/u15.png" />
            <!-- Unnamed () -->
            <div id="u16" class="text">
                <p><span>Registrate por $150.000 COP</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u17" class="ax_image">
            <img id="u17_img" class="img " src="~/images/curso_perfil/u17.png" />
            <!-- Unnamed () -->
            <div id="u18" class="text">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u19" class="ax_paragraph">
            <img id="u19_img" class="img " src="~/resources/images/transparent.gif" />
            <!-- Unnamed () -->
            <div id="u20" class="text">
                <p><span style="font-family:'Arial Bold', 'Arial';font-weight:700;">63</span><span style="font-family:'Arial Regular', 'Arial';font-weight:400;"> Estudiantes</span></p>
            </div>
        </div>

        <!-- Unnamed (Vertical Line) -->
        <div id="u21" class="ax_vertical_line">
            <img id="u21_start" class="img " src="~/resources/images/transparent.gif" alt="u21_start" />
            <img id="u21_end" class="img " src="~/resources/images/transparent.gif" alt="u21_end" />
            <img id="u21_line" class="img " src="~/images/curso_perfil/u21_line.png" alt="u21_line" />
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u22" class="ax_paragraph">
            <img id="u22_img" class="img " src="~/resources/images/transparent.gif" />
            <!-- Unnamed () -->
            <div id="u23" class="text">
                <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u24" class="ax_image">
            <img id="u24_img" class="img " src="~/images/curso_perfil/u24.png" />
            <!-- Unnamed () -->
            <div id="u25" class="text">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u26" class="ax_paragraph">
            <img id="u26_img" class="img " src="~/resources/images/transparent.gif" />
            <!-- Unnamed () -->
            <div id="u27" class="text">
                <p><span style="font-family:'Arial Bold', 'Arial';font-weight:700;">55</span><span style="font-family:'Arial Regular', 'Arial';font-weight:400;"> Valoraciones</span></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u28" class="ax_paragraph">
            <img id="u28_img" class="img " src="~/resources/images/transparent.gif" />
            <!-- Unnamed () -->
            <div id="u29" class="text">
                <p><span style="color:#333333;">Tiene Certificación</span></p><p><span style="color:#0066FF;">Más Información</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u30" class="ax_image">
            <img id="u30_img" class="img " src="~/images/resultados/u24.gif" />
            <!-- Unnamed () -->
            <div id="u31" class="text">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u32" class="ax_image">
            <img id="u32_img" class="img " src="~/images/curso_perfil/u32.PNG" />
            <!-- Unnamed () -->
            <div id="u33" class="text">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u34" class="ax_image">
            <img id="u34_img" class="img " src="~/images/curso_perfil/u34.PNG" />
            <!-- Unnamed () -->
            <div id="u35" class="text">
                <p><span></span></p>
            </div>
        </div>
    </div>
</body>
</html>
