body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:100px;
  width:1940px;
  height:390px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1940px;
  height:390px;
}
#u1 {
  position:absolute;
  left:2px;
  top:187px;
  width:1936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:200px;
  top:160px;
  width:477px;
  height:296px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:296px;
}
#u5 {
  position:absolute;
  left:2px;
  top:140px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:200px;
  top:120px;
  width:800px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:40px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:510px;
  width:760px;
  height:190px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:190px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:300px;
  top:13px;
  width:750px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:200px;
  top:13px;
  width:100px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12_input:disabled {
  color:grayText;
}
#u13 {
  position:absolute;
  left:1050px;
  top:13px;
  width:100px;
  height:25px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:810px;
  top:216px;
  width:210px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:810px;
  top:330px;
  width:50px;
  height:50px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:784px;
  top:394px;
  width:101px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:910px;
  top:330px;
  width:10px;
  height:110px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:93px;
  width:20px;
  height:18px;
}
#u21_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:110px;
}
#u22 {
  position:absolute;
  left:765px;
  top:170px;
  width:300px;
  height:60px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:970px;
  top:330px;
  width:50px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:948px;
  top:394px;
  width:93px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:892px;
  top:274px;
  width:107px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:832px;
  top:266px;
  width:50px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:200px;
  top:818px;
  width:778px;
  height:572px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:572px;
}
#u33 {
  position:absolute;
  left:2px;
  top:278px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:970px;
  top:500px;
  width:374px;
  height:914px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:914px;
}
#u35 {
  position:absolute;
  left:2px;
  top:449px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
