@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Clases y Talleres</h1>
    <p class="lead">Find the best course for you</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Learn Everything</h2>
        <p>
            You can find a course for everything in our site. From languages to cooking classes. Search now!!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Rate your courses</h2>
        <p>Share your experiences and rate every course you attend and help others find the right course.</p>
    </div>
    <div class="col-md-4">
        <h2>Pay Safely</h2>
        <p>Whatever course you want you can pay your inscription from the comfort of your home.</p>
    </div>
</div>
